$font-family: 'Open Sans', sans-serif;
$medium-font-size: 14px;
$normal: 400;
$medium-weight: 600;
$bold: 700;

// colors
$white: #fff;
$light-gray: #808080;
$gray: #666666;
$black: #141414;
$light-black: #333333;
$light-orange: #ff6600;
